<div class="form-group row new-item" id="product-unique-spec-@ViewBag.id">
    @model Supplier.ViewModels.NewProductViewModel
    <div class="col-lg-5 row">
        <label asp-for="@Model.ProductUniqueSpecs.Name" class="control-label col-lg-2 centered-container"></label>
        <div class="col-lg-9 row">
            <input asp-for="@Model.ProductUniqueSpecs.Name" class="form-control" />
            <span asp-validation-for="@Model.ProductUniqueSpecs.Name" class="text-danger"></span>
        </div>
    </div>
    <div class="col-lg-6 row">
        <label asp-for="@Model.ProductUniqueSpecs.Value" class="control-label col-lg-2 centered-container"></label>
        <div class="col-lg-9">
            <input asp-for="@Model.ProductUniqueSpecs.Value" class="form-control" />
            <span asp-validation-for="@Model.ProductUniqueSpecs.Value" class="text-danger"></span>
        </div>
    </div>
    <div class="col-lg-1">
        <span class="remove-icon centered-container" onclick="removeUniqueSpec(@ViewBag.id)">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                 width="24" height="24"
                 viewBox="0 0 172 172"
                 style=" fill:#000000;">
                <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#e74c3c"><path d="M71.66667,14.33333l-7.16667,7.16667h-43v14.33333h7.95052l12.77962,109.33366v0.05599c0.939,7.07108 7.07882,12.44368 14.20736,12.44368h59.111c7.12853,0 13.26835,-5.37269 14.20736,-12.44368l0.014,-0.05599l12.77962,-109.33366h7.95052v-14.33333h-43l-7.16667,-7.16667zM43.89583,35.83333h84.20833l-12.55566,107.5h-59.111z"></path></g></g>
            </svg>
        </span>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
