@model Supplier.ViewModels.CategoryDetailsViewModel

@{
    ViewData["Title"] = "Details";
}
<div class="row page-titles mx-0">
    <div class="col p-md-0 flex-display">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Products" asp-action="Index">Products</a></li>
            <li class="breadcrumb-item active"><a asp-controller="Products" asp-action="Details" asp-route-id="@Model.Category.Id">Product - @Model.Category.Name</a></li>
        </ol>
    </div>
</div>
<!-- row -->

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Category @Model.Category.Name</h4>
                    <ul class="nav nav-pills mb-3">
                        <li class="nav-item">
                            <a href="#navpills-1" class="nav-link active" data-toggle="tab" aria-expanded="false">Details</a>
                        </li>
                        <li class="nav-item">
                            <a href="#navpills-2" class="nav-link" data-toggle="tab" aria-expanded="false">Product Specifications</a>
                        </li>
                    </ul>
                    <div class="tab-content br-n pn">
                        <div id="navpills-1" class="tab-pane active">
                            <div class="row align-items-center">
                                <div class="col-sm-6 col-md-8 col-xl-10">
                                    <div class="col-xl-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="basic-list-group">
                                                    <ul class="list-group list-group-flush">
                                                        <li class="list-group-item flex-display">
                                                            <span class="label label-primary flex-display" style="width: 125px; justify-content: center;">@Html.DisplayNameFor(model => model.Category.Name)</span>
                                                            <span class="label flex-display">@Model.Category.Name</span>
                                                        </li>
                                                        <li class="list-group-item flex-display">
                                                            <span class="label label-primary flex-display" style="width: 125px; justify-content: center;">@Html.DisplayNameFor(model => model.Category.Description)</span>
                                                            <span class="label">@Model.Category.Description</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="navpills-2" class="tab-pane">
                            <div class="row align-items-center">
                                <div class="col-sm-6 col-md-8 col-xl-10">
                                    <div class="col-xl-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="basic-list-group">
                                                    <ul class="list-group list-group-flush">
                                                        @foreach (var specification in @Model.CategorySpecs)
                                                        {
                                                            <li class="list-group-item flex-display">
                                                                <span class="label label-primary flex-display" style="width: 125px; justify-content: center;">@specification.Name</span>
                                                            </li>
                                                        }
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <a asp-action="Edit" asp-route-id="@Model.Category.Id">
                            <span class="btn btn-success color-white">Edit</span>
                        </a> |
                        <a asp-action="Index">
                            <span class="btn btn-secondary color-white">Back to List</span>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- #/ container -->
